{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAN SAHAYAK</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/main.js' %}"></script>
</head>

<body>

<header>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'index' %}">JAN SAHAYAK</a>
        </div>

        <div class="nav-links">
            
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'complaint' %}">Complaint</a>
                <a href="{% url 'schemes' %}">Schemes</a>
                {% if user.is_superuser %}
<a href="/prediction/">Prediction</a>
{% endif %}
               
                <a href="{% url 'logout' %}" class="logout">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}" class="register-btn">Register</a>
            {% endif %}
        </div>
    </nav>
</header>

<!-- Chatbot Button -->
<div id="chatbot-button">💬</div>

<!-- Chat Window -->
<div id="chatbot-box">

<div id="chatbot-header">
AI Assistant
<span onclick="closeChat()">✖</span>
</div>

<div id="chatbot-messages"></div>

<div id="chatbot-input">
<input type="text" id="chatInput" placeholder="Ask something...">
<button onclick="sendMessage()">Send</button>
</div>

</div>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>© 2026 JAN SAHAYAK | Developed by Shristy Soni</p>
</footer>



</body>
</html>
