{% extends 'base.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h2>Your Dashboard</h2>

<h3>Your Complaints:</h3>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Problem</th>
        <th>Area</th>
        <th>Status</th>
    </tr>

    {% for complaint in complaints %}
    <tr>
        <td>{{ complaint.id }}</td>
        <td>{{ complaint.problem.category }}</td>
        <td>{{ complaint.area }}</td>
        <td>{{ complaint.status }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No complaints found.</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}

